:root {
  --primary-color: #ffff;
  --secondary-color: #fbceb5;
  --third-color: rgba(255, 255, 255, 0.3)
}

.img {
  background-image: url(/picture.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 740px;
}

html, body {
  /* Убирает прокрутку по горизонтале, для мобильной версии */
  overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.logo1 {
  margin-top: 100px;
}

.logo2 {
  margin-top: 80px;
}

h2, h3 {
  color: var(--primary-color);
  font-size: 28px;
  text-align: center;
}

form {
  padding: 50px;
  position: fixed; top: 55%; left: 56%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.user {
  background-color: var(--third-color);
  border: var(--primary-color);
  color: var(--primary-color);
  border-radius: 40px;
  width: 338px;
  height: 50px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
  transition-property: all;
  transition-duration: 0.3s;
  transition-delay: 0s;
  transition-timing-function: ease;
  text-transform: none;
  text-rendering: auto;
}

.user::placeholder {
  color: var(--primary-color);
  font-size: 16px;
  text-align: start;
}

.user:hover {
  border: 1px solid var(--primary-color);
  background-color: transparent;
}

.pw {
  background-color: var(--third-color);
  border: var(--primary-color);
  color: var(--primary-color);
  border-radius: 40px;
  width: 338px;
  height: 50px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
  transition-property: all;
  transition-duration: 0.3s;
  transition-delay: 0s;
  transition-timing-function: ease;
  text-transform: none;
  text-rendering: auto;
  margin-top: 10px;
}

.pw::placeholder {
  color: var(--primary-color);
}

.pw:hover {
  border: 1px solid var(--primary-color);
  background-color: transparent;
}

.password-control {
	position: absolute;
	top: 145px;
	right: 250px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(/icon/view.svg) 0 0 no-repeat;
}
.password-control.view {
	background: url(/icon/no-view.svg) 0 0 no-repeat;
  fill: var(--primary-color);
}

button {
  width: 378px;
  height: 50px;
  background-size: auto;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 40px;
  outline: none;
  margin-top: 10px;
  cursor: pointer;
}

.check {
  background-color: var(--secondary-color);
}

.remember a {
  margin-left: 100px;
}

label {
  color: var(--secondary-color);
  font-size: 16px;
  cursor: pointer;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid var(--third-color);
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.custom-checkbox:checked+label::before {
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

a {
  color: var(--primary-color);
  transition: .3s all ease;
  text-decoration: none;
  background-color: transparent;
  box-sizing: border-box;
}

.text-center {
  color: var(--primary-color);
  text-align: center;
  width: 100%;
  margin-top: 350px;
  margin-bottom: 1rem;
}

.social {
  width: 100%;
  text-align: center;
}
